head
	script(src="https://kit.fontawesome.com/7fe8297e16.js" crossorigin="anonymous")

div.header 
	h1.name Zachery Irvin
	h2.title Full Stack Web Developer
	div.contact
		div.imgCont
			i.fab.fa-github-square
			div.contactInfo badCompany55
		div.imgCont
			i.fas.fa-envelope-square
			div.contactInfo zachirvin45@gmail.com
		div.imgCont
			i.fas.fa-phone
			div.contactInfo (806) 881-5271

div.resBody
	div.left
		div.projects
			h3.projectsHead Projects
			div.projectCont
				h4.projectTitle Inquiry
				div.sProjectCont
					div
						label.desc Description:
						p.description A scheduling application that simplifies the interation between customer and contractor for designated tasks. 
					div
						label.desc Stack:
						ul
							li.stack React
							li.stack Express
							li.stack PostgreSQL
			div.projectCont
				h4.projectTitle Note Taker
				div.sProjectCont
					div
						label.desc Description:
						p.description A note taking application that supports a text editor, search functionality, sorting, adding, editing, deleting, and persistant notes.
					div
						label.desc Stack:
						ul
							li.stack React
							li.stack Gsap
			div.projectCont
				h4.projectTitle Sleep Tracker
				div.sProjectCont
					div
						label.desc Description:
						p.description A application that gives recommendations on sleep patterns based off of the mood and hours of sleep.
					div
						label.desc Stack:
						ul
							li.stack React
							li.stack Express
							li.stack PostgreSQL
		div.skills
			h3.skillsHead Skills
			ul.listOne
				li.list Javascript
				li.list React
				li.list Redux
				li.list Nodejs
				li.list Express
			ul.listTwo
				li.list Html
				li.list CSS
				li.list SASS/LESS
				li.list Python
				li.list SQL

	div.right
		div.experience
			h3.experienceHead Experience
			div.experienceCont
				div.titleCont
					h4.experienceTitle Sub-Contractor
					label.date Jun 2016 - present
				div.comp
					label.desc Self-Employed / Owner 
					ul
						li.exp Assist builders in floor layout design, creation, and implementation
						li.exp Contract creation covering all aspects to be completed in the given project
						li.exp Fabicate and Contstruct structure according to blueprints 
						li.exp Mange sub-contractors for completion of project on time
				div.experienceCont
					div.titleCont
						h4.experienceTitle Center Supervisor
						label.date Oct 2013 - Mar 2016

					div.comp
						label.desc United Parcel Service / UPS
						ul
							li.exp Direct and coordinate operation, management, and supportive services of two UPS facilites
							li.exp Create and Implement operational plans that correct flaws in current operational procedures, thereby increasing productivity and operational bottom line, while decreasing workplace hazards.
							ul
								li.sub Lead to an increase in operational production of 20%, a decrease of workplace injuries by 5%, and a decrease of driver accidents on the road by 7%

			div.experienceCont
				div.titleCont
					h4.experienceTitle Delivery Driver
					label.date Oct 2012 - Oct 2013
				div.comp
					label.desc United Parcel Service / UPS

			div.experienceCont
				div.titleCont
					h4.experienceTitle Night Shift Supervisor
					label.date Oct 2010 - Oct 2012
				div.comp
					label.desc United Parcel Service / UPS

		div.experience.edu
			h3.experienceHead Education
			div.experienceCont
				div.titleCont
					h4.experienceTitle Full-Stack Web Development 
					label.date Sep 2018 - Nov 2019

				div.comp
					label.desc Lambda School
					ul
						li.exp Computer Science and Software Engineering Academy that provides an immersive, hands on curriculum with a focus on computer science, software engineering, and web development




style
	include:scss styles.scss
